/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Sela Dawes
   Date:   3/1/2014

   Filename:         c_styles.css
   Supporting Files: none

*/

/* Body styles */

body {
   background-color: black;
   color: white;
   font-family: 'Century Gothic', sans-serif;
}


/* Heading styles */

header h1 {
   color: yellow;
   font-family: 'Courier New', Courier, monospace;
   font-size: 28px;
   letter-spacing: 20px;
   text-align: center;
}

article h2 {
   font-size: 24px;
   font-weight: normal;
   letter-spacing: 5px;
}


/* Style rule for the article paragraph */

article p {
   text-align: justify;
}



/* Style rule for strong elements */

strong.keyword {
   color: yellow;
   font-weight: normal;
}



/* Style rule for the footer paragraph */

footer p {
   text-align: center;
}



/* Style rule for inline images that act as image maps */

img[usemap] {
   border-width: 0px;
}




